@page "/weatherforecast"

@using SmartHomeWebApp.Data;
@using SmartHomeWebApp.Data.Yr
@inject WeatherForecastService WeatherForecastService


<style>
    body {
        background-color: #fcf6e8;
    }
</style>

<h1>Weather Forecast</h1>

@if (forecast == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Night</th>
                <th>Morning</th>
                <th>Afternoon</th>
                <th>Evening</th>
                <th>Max/Min temp. (C)</th>
                <th>Precipitation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var day in forecast.Days)
            {
                <tr>
                    <td>@day.Date.ToShortDateString()</td>
                    <td>@(day.Night)</td>
                    <td>@(day.Morning)</td>
                    <td>@(day.Afternoon)</td>
                    <td>@(day.Evening)</td>
                    <td>@(day.AirTemperatureMax + "°/" + day.AirTemperatureMin + "°")</td>
                    <td>@(day.Precipitation + " mm")</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast2 forecast;

    protected override async Task OnInitializedAsync()
    {
        forecast = await WeatherForecastService.GetForecastAsync2();
    }
}
